.canvas{
    border:1px black dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    /* for the textbox,the z-index is not workign at the moment */
    float: left;
    background-color: #fff;
    z-index: 5;
}

.canvas-zoom{
    border: 0;
    top:-720px;
    left:-1280px;
}

#canvas-draft{
    background-color: transparent;
}

body{
    overflow:hidden;
}

#canvas-container{
    height:720px;
}

#buttons{
    position: relative;
    z-index: 6;
}  


/* for the textbox,the z-index is not workign at the moment */
.text-style {
    float: left;
    position: absolute;
    /* font: 28px ; */
    word-break: break-all;
    background-color: transparent;
    z-index: 1;
}