/* Elements */

body{
    overflow:hidden;
}


h1 {
    margin-top: 24px;
    margin-bottom: 24px;
    font-size: 1.5rem
}

h3 {
    margin-bottom: 24px;
    font-size: 1rem
}

/* Classes */

.canvas{
    border:1px rgba(0,0,0,1) dotted;
    position:absolute;
    top:0px;
    bottom:0px;
    left:0px;
    right:0px;
    z-index: 5;
}

.canvas-zoom{
    border: 0;
    top:-720px;
    left:-1280px;
}

.btn-icons {
    position: relative;
    width: 33%;
    background-color: rgba(255, 255, 255, 1)
}

.btn-curve {
    position: relative;
    width: 49%;
    background-color: rgba(255, 255, 255, 1)
}

.btn-tools {
    position: relative;
    width: 16.5%;
    background-color: rgba(255, 255, 255, 1)
}

.btn-tabs {
    width: 33%;
    font-weight: 500;
    font-size: 0.7rem;
    background-color: rgba(255, 255, 255, 1)
}

.btn-drop {
    font-weight: 300;
    font-size: 1rem;
    background-color: rgba(255, 255, 255, 1)
}

.btn-drop:focus {
    background-color: rgba(235, 235, 235, 1)
}

.btn:before{
    margin-left: 0;
}

.btn-icons:before{
    font-size: 60px
}

.btn-tools:before{
    font-size: 25px
}

.btn-curve:before{
    font-size: 60px
}

.text-style {
    position: absolute;
    display: none;
    word-break: break-all;
    background-color: transparent;
    z-index: 1;
}

/* style for the slider */
.rangeslider{
    width: 50%;
}

.myslider {
    -webkit-appearance: none;
    background: rgba(255,255,255, 1)  ;
    width: 50%;
    height: 20px;
    opacity: 2;
}

.myslider:hover {
    opacity: 1;
}

.overlay {
    opacity: 0;
    transition: 1s ease;
    position:absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, .5);
}

.overlay:hover{
    opacity: 1
}

.label-icons{
    color: rgba(255,255,255,1);
    font-size: 1.25rem;
}

.label-tools{
    color: rgba(255,255,255,1);
    font-size: .75rem;
    line-height: 1;
}

.flaticon-stop {
    color: rgba(255,0,0,1);
}

.flaticon-rounded-black-square-shape {
    color: rgba(128,0,128,1);
}


.stamp-img{
    width: 12%;
    margin: 2%;
    transition: .5s ease
}

.stamp-img:hover{
    opacity: .2
}

.popup {
    position:absolute;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(50, 50, 50, .5);
}

.popup label{
    color: rgba(255,255,255,1);
    font-size: 1.5rem;
    font-weight: 500
}

/* IDs */

#canvas-draft{
    background-color: transparent;
}

#canvas-container{
    height:100vh;
    padding: 0px
}

#buttons{
    height: 100vh;
    position: relative;
    z-index: 6;
}

#description{
    padding: 0px 15px
}

#icons{
    display: none;
    position: relative
}


#howToUse {
    font-size: .8rem
}


#slider {
    display: none;
}

#stamps{
    display: none
}

#chooseCurve{
    display: none
}