.canvas-style {
    background-color: #fff;
    float: left;
    position: absolute;
    z-index: 5;
}

.text-style {
    float: left;
    position: absolute;
    font: 28px orbitron;
    word-break: break-all;
    background-color: transparent;
    resize: none;
    z-index: 1;
}
/* htmlcode
<body style="background-color: #999">
    <canvas id="canvas" width="800" height="600" class="canvas-style">抱歉，您的浏览器不支持canvas元素</canvas>
    <textarea name="textBox" id="textBox" cols="30" rows="10" class="text-style"></textarea>
</body> */